/* Aside left */

.drag-left {
    background-color: turquoise;
    height: 700px;
    width: 15%;
    float: left;
    margin-top: 50px;
    margin-left: 35px;
    text-align: center;
}

/* Container ( diagram )  */

.container-diagram {
    border : 2px black solid ;
    height : 700px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.function {
    border : 2px grey solid ;
    width: 95%;
    height: 500px;
    margin : auto;
    margin-top: 10px;
    display: flex;
}

/* Colonne / rectangle */
.col {
    border : 2px green solid ;
    width: 30%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.tra {
    border : 2px green solid ;
    width: 30%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.fer {
    border : 2px green solid ;
    width: 30%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Label  */

.label {
    border : 2px blue solid ;
    display: flex;
    margin: 35px;
    
}