/* Aside left */

.drag-left {
    background-color: turquoise;
    height: 700px;
    width: 15%;
    float: left;
    margin-top: 50px;
    margin-left: 35px;
    text-align: center;
}

/* Container ( diagram )  */

.container-diagram {
    border : 2px black solid ;
    height : 700px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding: 15px;
    padding-right: 25px;
    background-color: burlywood;
}

.function {
    border : 3px grey solid ;
    width: 95%;
    height: 500px;
    margin : auto;
    margin-top: 10px;
    display: flex;
    background-color: rgba(25,25,25,0.2);
}

/* Colonne / rectangle */
.col, .tra, .fer{
    border : 4px white ;
    width: 30%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgba(240,240,240, 0.4);
}

/* Label  */

.label {
    border : 2px rgba(240,240,240, 0.7) ;
    display: flex;
    margin: 35px;
    background-color:  rgba(240,240,240, 0.9);
    color: black;
    text-align : center;
    
}