{% extends 'base.html' %}
{% block content %}


    <br/>
    <br/>
    <br/>
    <br/>

    <div class="drag-left">
        </br>
        <p> Element </p>
    </div>

    <div class="container">
        <div class="container-diagram ">

          <div class="row">
          
              <div class="function">

              <div class="col">

                <p> Col </p>

                <div class="label">
                  <p> LabelTxt </p>
                </div>

              </div>

              <div class="tra">
                <p> Tra </p>
              </div>

              <div class="fer">
                <p> Fer </p>
              </div>

            </div>

          </div>

        </div>
    </div>
 
    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap/bootstrap.min.js" charset="utf-8"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="static/js/freelancer-theme.min.js" charset="utf-8"></script>

</body>

</html>
{% endblock %}
