{% extends 'base.html' %}

{% block content %}

    <div id="app">
        <br/>
        <br/>

        <div class="drag-left">
            </br>
            <button type="button" class="btn btn-danger">Export Data</button>
            </br></br>
            <h4> Element </h4>
            </br>
            <hr class="hr-80">
            <h7> add column </h7>
            <hr class="hr-80">
            <h7> add label </h7>
            <hr class="hr-80">
            <h7> add nodes </h7>
            <hr class="hr-80">
            <h7> add function </h7>
            <hr class="hr-80">
        </div>

        <div class="container">
            <div class="container-diagram">
                <h4> [[ diagramTitle ]] </h4>

                    <div class="row">

                        <div class="function">
                        <div class="col">
                            <p> Col </p>
                            <div class="label">
                                <div class="row">
                                    <div class="col-lg-3 node-in node"> XX84</div>
                                    <div class="col-lg-6 label-center">
                                        <p> LabelTxt </p>
                                    </div>
                                    <div class="col-lg-3 node-out node"> AA34</div>
                                </div>
                            </div>
                        </div>

                        <div class="tra">
                                <p> Tra </p>
                        </div>

                        <div class="fer">
                            <p> Fer </p>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end div app -->

{% endblock %}

{% block javascripts %}
    <!-- CDN Vue.Draggable -->
    <!-- <script src="https//cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script> --> 

    <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
    <!-- <script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script> -->
    <!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script> -->

    <!-- add main.js for vue.js-->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script> 
    
{% endblock %}